/*tips4.html*/
.small{
	width: 50px;
}
.medium{
	width: 100px;
}
.large{
	width: 150px;
}


/*tips5.html*/
table, th, td{
	padding: 0px 10px;
	border-collapse: collapse;
	border: solid 1px black;
}
.highlight{
	background-color: blue;
	color: #fff;
}