*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*tips4.html*/
.small{
	width: 50px;
}
.medium{
	width: 100px;
}
.large{
	width: 150px;
}


/*tips5.html*/
table, th, td{
	padding: 0px 10px;
	border-collapse: collapse;
	border: solid 1px black;
}
.highlight{
	background-color: blue;
	color: #fff;
}


/*tipss11*/
#nav{
	position: fixed;
	width: 100%;
	height: 30px;
	background-color: blue;
	color: white;
}
#nav ul{
	list-style: none;
}
#nav li{
	float: left;
	padding: 5px 20px;
}


/*tips13*/
.body{
	height: 2000px;
}
.body div{
	position: fixed;
	top: 0;
	left: 0;
	height: 300px;
}
#over{
	z-index: 2;
	overflow: hidden;
}
#under{
	z-index: 1;
}


/*tips14*/
.door{
	position: relative;
	width: 1000px;
	left: 500px;
}
.door img{
	position: absolute;
	top: 0;
}
#photo{
	z-index: 1;
	left: 0;
}
#left{
	z-index: 2;
	left: 0;
}
#right{
	z-index: 2;
	left: 500px;
}


/*tips16*/
#content{
	width: 400px;
	height: 100px;
	padding: 20px;
	margin-top: 1px;
	border: solid 1px black;
	z-index: 1;
}
#tabArea{
	height: 30px;
	white-space: nowrap;
	z-index: 2;
}
.tab{
	width: 80px;
	height: 30px;
	padding-left: 10px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px 5px 0 0;
	background-color: white;
	cursor: pointer;
}
.active{
	border-bottom: 1px solid white;
}
.tab span{
	line-height: 30px;
}
.hidden{
	display: none;
}