body{
	padding: 20px;
}
.door{
	position: relative;
	width: 400px;
	left: 200px;
}
.door img{
	position: absolute;
	top: 0;
}
#photo{
	z-index: 1;
	left: 0px;
	width: 400px;
}
#left{
	z-index: 2;
	left: 0;
	width: 200px;
}
#right{
	z-index: 2;
	left: 200px;
	width: 200px;
}